.sidebar{
   background-color: #f0f4fa;
   display:inline-flex; 
   /* flex bhi kr skte, flex me next div new line me aayega
      inline me same me aayega.
   */
   height: 100%;
   justify-content: space-between;
   flex-direction: column;
}

.sidebar img{
    width: 16px;
}

.sidebar .menu{
    display: block; 
    /* because menu vali line m ab kuch ni 
       chahiye jo kuch aayega new line se start hoga*/ 
    margin-left: 24px;
    margin-top: 12px;
}

.sidebar .new-chat{
    margin-top: 50px;
    padding: 12px 24px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    color: gray;
    font: 16px; 
    border-radius: 50px;
    width: 100%;
    /* margin-left: 8px ; */
}

.sidebar .new-chat:hover
{
    background-color: #e6e9f1;
}
.sidebar .recent-chats{
    display: flex;
    flex-direction: column;
}

         
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 24px;
}

.sidebar .recent-item{
    display: flex;
    gap: 10px;
    align-items: start;
    padding: 10px 24px;
    border-radius: 50px;
    color: #282828;
    padding-right: 40px;
    /* margin-left: 24px; */
    cursor: pointer;
}

.sidebar .recent-item:hover{
    background-color: #e6e9f1;
}

.sidebar .sidebar-bottom{
    margin-top: 220px;
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-items {
    padding-right: 10px;

}
