.main-top {
  flex: 1;
  min-height: 100vh; /* background-color: yellow; */
  padding-bottom: 40px;
  position: relative;
}
.main-top .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  padding: 20px;
  color: #585858;
}

img {
  width: 40px;
  border-radius: 50%;
}
.main-container {
  max-width: 900px;
  margin: auto;
}
.greet-container {
  margin: 0px 50px;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}
.main-top .greet-container span {
  background: linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-container .info-cards {
  display: flex;
  grid-template-columns: repeat(auto-fill, min-max(180px, 1fr));
  gap: 15px;
  padding: 20px;
}
.main-container .info-cards .card {
  height: 200px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.main-container .info-cards .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
  background-color: white;
}
.main-container .info-cards .card p {
  color: #585859;
  font-size: 17px;
}
.main-container .info-cards .card:hover {
  background-color: #dfe4e9;
}
.main-container .main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0pc 20px;
  margin: auto;
}
.main-container .main-bottom .search-box {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
}
.main-container .main-bottom .search-box input {
  flex: 1;
  background: transparent;
  outline: none;
  border: none;
  padding: 8px;
  font-size: 18px;
}
.main-container .main-bottom .search-box img {
  width: 28px;
  cursor: pointer;
}
.main-container .main-bottom .bottom-info {
  font-size: 14px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300px;
}
